.btn-top {
    background-image: url(../image/up-arrow.png);
    background-repeat: no-repeat;
    border: medium none;
    bottom: 5px;
    cursor: pointer;
    display: none;
    height: 66px;
    outline: medium none;
    padding: 0;
    position: fixed;
    right: 20px;
    width: 66px;
    z-index: 9999;
}