@media (min-width:768px) and (max-width:1024px) {
    
    #content .col-table{
        padding: 20px 12px;
        height: 350px
    }
    .main-content .p-light{
        font-size: 12px;
    }
    .col-teacher img{
        padding: 20px 24px;
    }
    #footer .download{
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
@media (max-width:767px){
    .col-res{
        width: 100% !important;
    }
    .banner-layout {
        padding: 12% 7%;
    }
    .banner-layout h1 {
        font-size: 54px;
    }
    .banner-layout p {
        font-size: 21px;
    }
    #content .main-content {
        margin: 20px 36px;
    }
    .standart-col-right {
        padding-left: 0px; 
        padding-right: 2%;
        padding-top: 35px;
    }
    .why-choose {
        margin: 30px 0px;
    }
    .col-table{
        margin-top: 24px;
    }
    #form {
        padding: 60px 26px;
    }
    .col-left input {
        margin: 12px 8px;
    }
    #form .col-right{
        display: none;
    }
    #footer .follow-me {
        margin-left: 15%;
    }
}