@media (max-width:1024px) {
    #content .profile{
        top:60px;
    }
    #main-content {
        margin: 24px 66px;
    }
    .place-cmt {
        width: 80%;
    }
    .comment{
        width: 87%;
    }
}
@media (min-width:768px) and (max-width:1023px) {
    #content {
        padding: 17% 8%;
    }
    .dialog-post-place {
        left: 15%;
        width: 70%;
    }
    .place-cmt {
        width: 78%;
    }
    .place-update {
        width: 85%;
    }
    #content .profile{
        top:50px;
    }
    
    .col-center {
        width: 62%;
    }
    .col-left {
        width: 34%;
    }
    .comment {
        width: 86%;
    }
    
}
@media (max-width:767px){
    .old-post .img-hide{
        width: 16px;
    }
    .comment {
        width: 82%;
    }
    .like {
        font-size: 14px !important;
    }
    .img-old-post {
        height: auto;
    }
    .place-update {
        width: 82%;
    }
    .dialog-post-place {
        left: 5%;
        width: 90%;
    }
    #content{
        margin-top: 120px;
    }

    .col-center {
        margin-left: 0;
        margin-top: 28px;
    }
    #content .profile {
        top: 24px;
    }
    .btn-like img, 
    .btn-cmt img, 
    .btn-share img {
        width: 16px;
        padding-right: 4px;
    }
    .btn-like, .btn-cmt, .btn-share{
        font-size: 11px;
    }
    .poster .name {
        bottom: 20px;
        left: 62px;
        font-size: 10px;
    }
    .place-update button {
        padding: 6px 12px;
    }
    /* Đưa cột về 100%*/
    .col-res{
        width: 100% !important;
    }
    .img-cell {
        width: 30px;
        position: relative;
        overflow: hidden;
        height: 30px;
        border-radius: 50%;
    }
    .place-update input {
        padding: 7px 12px;
        margin-left: 8px;
    }
    .img-choose img {
        width: 100%;
        margin-left: 18px;
        margin-top: 11px;
    }
    .place-cmt {
        width: 78%;
    }
    .place-cmt input {
        padding: 7px 12px;
        margin-left: 6px;
    }
    .img-choose-cmt {
        margin-left: 10px;
        margin-top: 11px;
    }
    .col-inf .header,
    .new-post h3
     {
        font-size: 19px;
    }
    .col-inf button {
        font-size: 16px;
    }
}