#footer {
    background-color: #091a5a;
}
#footer .information{
    margin: 48px 80px;
    padding-left: 24px;
}
#footer .inf {
    margin-left: 16px;   
}
#footer h2{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;   
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
}
#footer .inf .address{
    color: rgb(154, 230, 111);
    font-family: sans-serif;   
    font-weight: 400;
    font-size: 12px;
}
#footer .img-social{
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-left: 6.5px;
    border-radius: 5px;
}
#footer .img-out{
    display: inline-block;
    width: 37px;
    height: 37px;
    background-color: #000;
    border-radius: 5px;
    margin-top: 8px;
}
#footer .follow-me{
    margin-top: 48px;

}
#footer .follow-me h2{
    font-size: 16px;

}
#footer .download{
    margin-top: 46px;
    margin-left: 130px;
    margin-bottom: 24px;
}
#footer .download h2{
    margin-bottom: 8px;
    font-size: 16px;
}
#footer .img-app{
    width: 130px;
    height: 37px;
    margin-right: 34px;
}