#content{
    max-width: 100%;
    margin-top: 148px;
    overflow: hidden;
}
#content .content-body{
    margin-left: 16px;
}
#content .width-content{
    width: 1010px;
    max-width: 100%;/*set chiều rộng của thẻ*/
    margin-left: auto;
    margin-right: auto;
}
#content .content-left{
    width: 73%;
    padding-right: 64px;
}
#content .content-right{
    width: 27%;
}
#content .content-left h1 {
    font-size: 30px;
    padding-bottom: 14px;
    border-bottom: rgb(168, 166, 166);
    border-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 20px;
}
#content .p-bold{
    font-weight: 750;
    font-size: 15px;
    margin-bottom: 16px;
}
#content .list-need{
    list-style-type: none;
    padding-left: 8px;
    border-left: rgba(114, 30, 192, 0.3) 3px solid;
    margin-bottom: 16px;
}
#content .list-need li{
    font-size: 13px;
    text-shadow: 0px 2px 6px rgb(179, 175, 175);
}
#content .list-need .need-item-second{
    padding: 16px 0;
}
#content .p-light
{
    font-size: 13px;
    margin-bottom: 12px;
    text-align: justify;
}
#content .img-banner-body{
    width: 100%;
    margin-top: 26px;
}
#content .header-road-map{
    text-align: center;
}
#content .header-road-map h3{
    display: inline-block;
    background-color: rgb(253, 7, 7);
    color: #fff;
    font-family: serif;
    font-weight: 300;
    font-size: 16px;
    padding: 8px 36px;
}
#content .road-map-table{
    margin-top: 16px;
    padding-top: 24px;
    background-color: rgb(211 211 211 / 25%);
}
#content .road-map-col-left{
    width: 15%;
}
#content .road-map-col-right{
    width:85%;
    border-left: #fff 2px solid;

    padding-top: 24px;
    margin-top: -24px;
}
.road-map-table .road-map-step{
    padding: 32px 20px;
    color:rgb(8, 20, 124);
    font-weight: 800;
    font-size: 16px;
    font-family: 'Work Sans', 'Lucida Sans Unicode', Arial, sans-serif;
}
#content .step{
    border-bottom: rgb(255, 255, 255) 2px solid;
}
#content .step-list{
    list-style-type: none;
}
#content .step-list li{
    font-size: 14.5px;
    padding: 6px 8px;
    font-weight: 400;
    text-align: justify;
    font-family: 'Work Sans','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content .ti-control-play{
    font-size: 14px;
    padding-right: 4px;
}
.step-list span{
    color: rgb(170, 21, 21);
    font-weight: 500;
}
#content .four-skill img{
    width: 100%;
    padding: 32px 94px;
}
#content .img-adv img{
    width: 100%;
    height: 125px;
}
#content .img-adv{
    position: relative;
    margin: 10px 0px;
}
.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color:rgba(241, 238, 238, 0.5);
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}
   
.img-adv:hover .overlay {
    bottom: 0;
    height: 100%;
}
.quick-link{
    margin-left: 12px;
}
.quick-link .heading-quick-link{
    font-size: 24px;
    color: rgb(151, 9, 9);
    font-family:serif;
    font-weight: 550;
    margin-top: 24px;
    margin-bottom: 14px;

}
.quick-link .list-link{
    list-style-type: none;
}
.quick-link .list-link img{
    width: 10px;
    height: 10px;
}
.quick-link .list-link a{
    margin-left: 8px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
}
.form-sign-up{
    margin-top:30px;
    padding: 30px 18px;
    background-color: #2B58B0;
    text-align: center;
}
.form-sign-up h2{
    font-family:serif;
    border-bottom: #ccc 2px solid;
    margin-bottom: 16px;
    color: #fff;
    letter-spacing: -1px;
}
.form-sign-up .form{
    width: 100%;
    height: 24px;
    margin: 8px 0;
    padding-left: 6px;
    font-size: 14px;
    border-radius: 4px;
    border:none;
}
.form-sign-up .btn-send{
    padding: 0 18px;
    font-size: 20px;
    font-family: serif;
    font-weight: 540;
    border:none;
    border-radius: 4px;
    background-color: rgb(196, 3, 3);
    color: #fff;
}
#content .btn-contact{
    text-align: center;
    margin-bottom: 24px;
    margin-top: 64px;
}
#content .btn-contact button{
    padding: 6px 32px;
    font-size: 20px;
    font-family: 'Spectral SC',serif;
    border-radius: 8px;
    border:none;
    background-color: rgb(143, 6, 6);
    color: #fff;
}
.list-link :hover a{
    color: rgb(145, 11, 11);
}